<!DOCTYPE html>
<html lang="en" ng-app="app" ng-controller="main">
<head>
    <meta charset="UTF-8">
    <title>Sell product</title>
</head>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/livestorm/livestorm-plugin/dist/assets/css/style.css">


<style>
    .modal-title {
        text-align: left;
        height: 35px;
        padding: 5px 15px;
    }

    .modal-content {
        padding: 30px 15px 20px 15px;
        min-height: 320px;
        max-height: 320px;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .modal-content h1 {
        font-size: 16px;
        margin: 15px 0px;
        font-weight: 500;
    }

    .modal-footer {
        text-align: center;
        height: 25px;
        margin-top: 25px;
    }

    textarea {
        height: auto !important;
    }

    .center-button {
        margin: 0 auto;
    }

    .full-button {
        width: 100%;
    }

    .empty-list {
        text-align: center;
    }

    .row {
        display: flex;
        margin: 6px 0;
    }

    .col {
        padding-left: 10px;
    }

    .col-10 {
        flex: 80%;
    }

    .col-6 {
        flex: 50%;
    }

    .col-2 {
        flex: 20%;
    }

    .contain-text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 8px 15px 0px 0px;
    }

    input:disabled {
        background: #dddddd;
    }

    .disabled {
        opacity: 0.5;
    }

    .ls-switch {
        margin-top: 10px;
    }

    .small-txt {
        font-size: 12px;
        color: #666;
    }
</style>

<body>

<div class="modal-title">
    <span class="ls-text-20-semibold">{{sectionTitle}}</span>
</div>

<div class="modal-content">

    <div ng-if="currentSection === 'selectProduct'">

        <div>

            <div ng-show="!payments.clientId" class="ls-warning-message ls-warning-error">
                <svg viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round">
                    <circle cx="12" cy="12" r="10"></circle>
                    <line stroke-width="2" x1="12" y1="8" x2="12" y2="12"></line>
                    <line stroke-width="2" x1="12" y1="16" x2="12.01" y2="16"></line>
                </svg>
                <div>You need to <a href="" ng-click="goTo('paymentProvider')">setup</a> a Payments provider</div>
            </div>

            <div class="empty-list" ng-if="products.length === 0">
                <img src="https://livestorm-ireland-plugin-assets.s3-eu-west-1.amazonaws.com/683c3516-5cd9-4c31-89bd-b8a6b7356461/list-empty.png"
                     height="150">
                <p>Your list is empty</p>
            </div>


            <div class="container">
                <div class="row" ng-repeat="product in products">
                    <div class="col-10 contain-text">
                        <p class="ls-text-16-medium">{{product.name}}</p>
                    </div>
                    <div class="col-2">
                        <div class="ls-text-center">
                            <button class="ls-button ls-button-secondary center-button" ng-click="shareProduct($index)">
                                <div class="ls-button-wrapper">
                                    Share
                                </div>
                            </button>
                            <p class="ls-text-9-semibold"><a href="" ng-click="deleteProduct($index)">DELETE</a></p>

                        </div>
                    </div>
                </div>
            </div>

            <br/>
            <button class="ls-button ls-button-primary full-button" ng-click="goTo('newProduct')">
                <div class="ls-button-wrapper ls-center">
                    Share new product
                </div>
                <a ng-show="payments.clientId" href="" ng-click="goTo('paymentProvider')">Change your Payment
                    provider</a>
            </button>

        </div>


    </div>

    <div ng-if="currentSection === 'newProduct'">

        <form class="ls-form ls-mt-2">

            <div>
                <label class="ls-label">Name</label>
                <input class="ls-input" type="text" placeholder="" ng-model="product.name" maxlength="60">
            </div>

            <div>
                <label class="ls-label">Short description</label>
                <textarea class="ls-input ls-textarea" rows="4" ng-model="product.description"
                          maxlength="250"></textarea>
            </div>

            <div class="row">
                <div class="col-6">
                    <div>
                        <label class="ls-label">Price</label>
                        <input class="ls-input" type="number" ng-model="product.price"/>
                    </div>
                </div>
                <div class="col col-6">
                    <div>
                        <label class="ls-label">Currency</label>
                        <select class="ls-input" ng-model="product.currency">
                            <option value="EUR">Euro</option>
                            <option value="USD">US Dollar</option>
                            <option value="GBP">British pound</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <div>
                        <label class="ls-label">Digital good</label>
                        <br/>
                        <div class="ls-tooltip">
                            <label class="ls-switch ls-switch-blue"> <!-- The container on which you add the classes -->
                                <input type="checkbox" ng-model="product.digitalGood">
                                <!-- The actual input, no JS here, just get its value -->
                                <div></div> <!-- This div controls the rounded element that moves -->
                                <div></div> <!-- This div is in charge of the changing background color -->
                            </label>
                            <span class="ls-tooltip-text ls-tooltip-top">Check this is your product does not need shipping</span>
                        </div>
                    </div>
                </div>
                <div class="col col-6">
                    <div>
                        <label class="ls-label" ng-class="{disabled: {{productDigitalGood}}}">Shipping cost</label>
                        <input class="ls-input" ng-disabled="{{productDigitalGood}}" type="number"
                               ng-model="product.shippingCost"/>
                    </div>
                </div>
            </div>

            <div ng-show="formError" class="ls-warning-message ls-warning-error">
                <svg viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round">
                    <circle cx="12" cy="12" r="10"></circle>
                    <line stroke-width="2" x1="12" y1="8" x2="12" y2="12"></line>
                    <line stroke-width="2" x1="12" y1="16" x2="12.01" y2="16"></line>
                </svg>
                <div>Please complete all fields in the form</div>
            </div>

            <button class="ls-button ls-button-primary" ng-click="shareProduct()">
                <div class="ls-button-wrapper ls-center">
                    Share
                </div>
            </button>

        </form>
    </div>

    <div ng-if="currentSection === 'paymentProvider'">

        <form class="ls-form ls-mt-2">
            <div>
                <label class="ls-label">Provider</label>
                <select class="ls-input" ng-model="payments.provider" ng-init="paypal">
                    <option value="paypal">Paypal</option>
                </select>
                <p class="small-txt">more in the future!</p>
            </div>

            <div>
                <label class="ls-label">Client ID</label> <a href="https://developer.paypal.com/docs/api-basics/manage-apps/" target="_blank" class="small-txt">Where do I find this?</a>
            </span>
                <input class="ls-input" type="text" placeholder="" ng-model="payments.clientId" maxlength="300">
            </div>

            <button class="ls-button ls-button-primary" ng-click="savePaymentProvider()">
                <div class="ls-button-wrapper ls-center">
                    Save
                </div>
            </button>
        </form>
    </div>


</div>

<div class="modal-footer">
    <span class="ls-text-12-regular">Live seller plugin for Livestorm</span>
</div>


<script crossorigin src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
<script>

    addEventListener("message", (event) => {
        console.log(">>>", event);
    });

    angular.module('app', []).controller('main', function ($scope) {

        $scope.products = JSON.parse('{{products}}');

        $scope.product = {
            name: '',
            description: ''
        };

        $scope.payments = {
            provider: 'paypal',
            clientId: "{{paypalClientId}}"
        };

        $scope.savePaymentProvider = () => {
            postMessage({
                cmd: 'savePaymentProvider', data: $scope.payments
            });

            $scope.goTo('selectProduct');
        };

        $scope.goTo = (sectionName) => {

            $scope.currentSection = sectionName;

            if (sectionName === 'selectProduct')
                $scope.sectionTitle = 'Select a product/service';
            else if (sectionName === 'newProduct')
                $scope.sectionTitle = 'New product/service';

        };

        $scope.shareProduct = async (index) => {

            if (!index && index !== 0) {
                if (!$scope.product.name || !$scope.product.description || !$scope.product.price || !$scope.product.currency)
                    return $scope.formError = true;

                if (!$scope.product.digitalGood && !$scope.product.shippingCost)
                    return $scope.formError = true;
            }

            $scope.formError = false;

            if (index >= 0)
                postMessage({cmd: 'shareProduct', data: $scope.products[index]});
            else
                postMessage({cmd: 'saveAndShareProduct', data: {...$scope.product}});

            $scope.product = {};
            closeModal();

        }

        $scope.deleteProduct = index => {

            $scope.products.splice(index, 1);
            postMessage({cmd: 'deleteProduct', data: {index}});

        };

        $scope.goTo('selectProduct');

    });

</script>
</body>
</html>