<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Share product</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/livestorm/livestorm-plugin/dist/assets/css/style.css">



</head>
<body>

<div class="modal-title">
    <span class="ls-text-20-semibold">New product</span>
</div>

<div class="modal-content">

    <form class="ls-form ls-w-half ls-mt-2">


        <div>
            <label class="ls-label">Product name</label>
            <input class="ls-input" type="text" placeholder="">
        </div>

        <div>
            <label class="ls-label">Short description</label>
            <textarea class="ls-input ls-textarea"></textarea>
        </div>

    </form>
</div>

<div class="modal-footer">
    <span class="ls-text-12-regular">Live seller plugin for Livestorm</span>
</div>


</body>
</html>