<!DOCTYPE html>
<html lang="en" ng-app="app" ng-controller="main">
<head>
    <meta charset="UTF-8">
    <title>Product page</title>
</head>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/livestorm/livestorm-plugin/dist/assets/css/style.css">


<style>
    .container {
        padding: 50px 25px;
    }

</style>

<body class="container">
<p>Product Name: {{productName}}</p>
<p>Product Description: {{productDescription}}</p>
<a href="{{paymentLink}}" target="_blank">Payment page</a>
</body>
</html>