<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/livestorm/livestorm-plugin/dist/assets/css/style.css">

<form class="ls-form ls-w-half ls-mt-2">

    <div class="ls-center ls-space-between">
        <label for="cars">Choose a car:</label>

        <select name="cars" id="cars">
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
        </select>
    </div>

    <div class="ls-center ls-space-between">
        <label class="ls-label">Do you mind ? </label>
        <label class="ls-switch">
            <input type="checkbox" checked>
            <div></div>
            <div></div>
        </label>
    </div>

    <div class="ls-center ls-space-between">
        <label class="ls-label">How are you ? </label>
        <label class="ls-switch ls-switch-blue">
            <input type="checkbox" checked>
            <div></div>
            <div></div>
        </label>
    </div>

</form>